body {
    background-color: #faf6f6;
  }
  
  .App {
    font-family: sans-serif;
    text-align: center;
  }
  
  .component {
    background-color: rgb(187, 187, 185);
    width: 30%;
    max-width: 600px;
    margin: 1em auto;
    padding-bottom: 2em;
    border: 0.1px solid rgb(92, 92, 90);
    border-radius: 10px;
  }
  
  .musicCover {
    border-radius: 30%;
    margin-top: 30px;
    border-color: red;
  }
  
  .playButton {
    background: none;
    border: none;
    align-items: center;
    justify-content: center;
  }
  
  .subTitle {
    margin-top: -1em;
    color: #4f4f4f;
  }
  
  .time {
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    color: #181515;
    font-size: smaller;
  }
  
  .timeline {
    width: 80%;
    background-color: #1dc55e;
  }
  
  input[type="range"] {
    background-color: #27ae60;
  }
  
  @media (max-width: 900px) {
    .component {
      width: 50%;
    }
  }
  